# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv*
venv/
env/

# Local data & generated results
results/*.png
live_bcg_output.csv

# Deep Learning Dataset & Model Weights
data/
models/*.h5
models/*.keras